html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(51, 102, 255, 0.7);
  padding: 0;
  margin: 0;
}

.innovecs-autocomplete {
  max-width: 500px;
  min-width: 500px;
  width: 100%;
  min-height: 800px;
  text-align: center;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
  margin: 10px auto 0;
    
    &__input-wrap {
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        display: block;
        width: 40px;
        height: 35px;
        background: #3399ff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: auto 0;
      }
      .icon-search {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        z-index: 2;
        color: #fff;
        margin: auto 0;
      }
    }
  
    &__input {
      width: 400px;
      border: 2px solid #3399ff;
      border-radius: 5px;
      padding: 10px 50px 10px 10px;
      margin: 0 auto;
  }
  
  &__list {
    list-style: none;
    padding: 0;
  }
  
  &__list-item {
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
  }
  
  &__img {
    width: 102px;
    height: 150px;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: sans-serif;
    padding-left: 10px;
  }
  
  &__title {
    font-size: 16px;
  }
  
  &__director {
    font-size: 12px;
    margin: 0;
  }
  
  &__highlight {
    background: #3399ff;
  }

}